 * {
  margin: 0;
  padding: 0;

}
/* 
#BFFCF9 for background
#000000 nav
 #00C9C8
 #47817F*/

/* Navbar */
body{
  background: #47817F;
}

.navBar{
  display: flex ;  
  width: 100%;
  height: 50px;
  align-items: center;
   justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  cursor: pointer ;
background-color: #000000;
color: white;
}

.logo{
  width: 20%;
    display: flex;
    justify-content: left;


 font-size: 15pt;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

 .right-menu {


  display: flex;
  position: fixed;
  flex-direction: column;

  background: black;
  top: 200px;
  width: 45px;
  height: 180px;
  right: 0px;
}
.sidebar-list {
  
  line-height: 26px;
  text-align: center;
  transform: rotate(-90deg);
padding: 25px 0px 25px;
  
}

.menu{
  width: 60%;
  display: flex;
  
  justify-content: center;
  
}
ul{
  display: inline;
 justify-content: space-evenly;

}
li{

  list-style: none;
  display: inline;
  padding: 0 25px 0 25px;


}

a{
  color: white;
  text-decoration: none;
} 

.profile{
  width: 20%;
    display: flex;
    justify-content: right;
   

 font-size: 15pt;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

/* home */

h1{
 text-align: center; 
 margin: 20px 0px;
}

.imgContainer{
  display: inline;
  position: fixed;
  padding: 40px;
}
.imgContainer img{
  
  width: 700px;
  height: 550px;
}
.textContainer{
  
  display: inline;
  position: fixed;
  width: 700px;
  height: 550px;
  top: 250px;
  padding-left: 800px;
}

/* TextUtils*/

.textutil-container{
  display: grid;
  justify-content: center;
  
}


.tU-form{
  margin-bottom: 12px ;
}

.tU-btn{
  margin: 2px 6px;
  padding: 4px;
  background-color:  #00C9C8
}
.psd-container {
  
  display: grid;
  justify-content: center;
}
.crypt-container {
  
  display: grid;
  justify-content: center;
}
